.slashbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid var(--gray-1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 400px;
  max-height: 350px;
  overflow-y: auto; // height 초과되면 스크롤
  padding-right: 4px;
  background-color: var(--white);

  .intro {
    color: #333;
  }

  /* 전체 버튼 스타일 */
  .slashbarBtn {
    display: flex; /* 내부 요소를 가로로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    padding: 12px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* 부모 요소에 맞춰 버튼 너비를 100%로 설정 */
    height: 70px;
    margin-right: 10px;

    .btnImage {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      margin-right: 12px; /* 이미지와 텍스트 사이 여백 */
      flex-shrink: 0; /* 이미지 크기 고정 */
    }

    /* 오른쪽 텍스트 영역 */
    .btnContent {
      display: flex;
      flex-direction: column; /* 텍스트를 위아래로 배치 */
      justify-content: space-between; /* 위아래로 균형있게 배치 */
      text-align: left;

      /* 제목 (위쪽) */
      .btnTitle {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin: 0;
      }

      /* 내용 (아래쪽) */
      .btnDesc {
        font-size: 14px;
        color: #666;
        margin-top: 4px;
      }
    }

    &:hover {
      background-color: var(--gray-1);
    }

    .none {
      border-color: var(--gray-3);
      background-color: var(--white);
    }
  }
}

/* 스크롤바 스타일 (선택 사항, 브라우저 기본 스타일 변경) */
.slashbar::-webkit-scrollbar {
  width: 8px;
}

.slashbar::-webkit-scrollbar-thumb {
  background-color: var(--gray-3); /* 스크롤바 색상 */
  border-radius: 4px;
}

.slashbar::-webkit-scrollbar-track {
  background-color: var(--white); /* 스크롤 트랙 색상 */
}

.h1 {
  background-image: url("/assets/icons/editor_h1.svg");
}

.h2 {
  background-image: url("/assets/icons/editor_h2.svg");
}

.h3 {
  background-image: url("/assets/icons/editor_h3.svg");
}

.bulleted {
  background-image: url("/assets/icons/editor_list_bulleted.svg");
}

.numbered {
  background-image: url("/assets/icons/editor_list_numbered.svg");
}

.quote {
  background-image: url("/assets/icons/editor_quote.svg");
}

.link {
  background-image: url("/assets/icons/editor_link.svg");
}

.undo {
  background-image: url("/assets/icons/editor_undo.svg");
}

.redo {
  background-image: url("/assets/icons/editor_redo.svg");
}

.file {
  display: none;
}

.fileLabel {
  background-image: url("/assets/icons/editor_file.svg");
}
